*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E3E3E3;
    min-width: 100%;
}
#main{
    background-color: white;
    margin-top:160px;
    height: 450px;
    display: flex;
    flex-direction:row ;
    justify-content: center;
    
}
.profile{
    position: relative;
    bottom:110px;
}

.profile-img{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    
    
}
.main-bottom{
   color:  #646464;
   font-size: 3.2rem;
}
.objective{
    font-weight:lighter;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.btn{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button{
    text-decoration: none;
    border: 2px solid rgba(255, 103, 68, 0.91);
    border-radius: 25px;
    color:#cc4b37;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    padding: 12px 20px;
    cursor: pointer;  
}
.button:hover{
    background-color: rgba(255, 103, 68, 0.91);
    color: white;
    padding: 12px 30px;
    transition:all .3s ease-in-out, color 0.2s 0.3s;
}
.btns {
    max-width: 20px;
    min-width: 20px;
    max-height: 20px;
    min-height: 20px;
    margin: 1rem;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ..................................  TYPE-WRITER ANIMATION................................. */
.main-bottom span{
    position: relative;
}
.main-bottom span::after
{

    content: "";
    position: absolute;
    left: 127px;
    right: 125px;
    bottom: 0;
    top: 0;
    border-left: 2px solid red;
    background-color: white;
    animation: typewriter 4s steps(12) forwards infinite;

}

@keyframes typewriter {
    to{
        left: 80%;
    }
}


/* .........................section experience................................... */

#experience{
    background-color: #4c6d86;
    
    max-width: 100%;
    font-size: 1.2rem;
    color: white; 
    padding: 6em 4em 2.6em;
    text-align: center;
   
}

.sec-heading{
    
    font-size: 3.2rem;
    
}

.skill{
    padding: 5rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skill ul{
    list-style-type: none;
    margin: 30px 0;

}
.skill ul li{
    
    margin: 10px 0;
    color: #bbd2ff;
}
.skill-first{
    min-width: 125px;
    max-width: 125px;
    margin-bottom: 40px;
    
}
.skill img{
    max-width: 4rem;
    max-height: 4rem;
    margin-bottom: 10px;
    
}
.skill-second{
    min-width: 125px;
    max-width: 125px;
    margin-bottom: 40px;
}
.skill-third{
    min-width: 125px;
    max-width: 125px;
    margin-bottom: 40px;
}


/* ...................................................WORK SECTION.............................................................. */

#work{
    background-color: white;
    max-width: 100%;
    min-width: 100%;
    text-align: center;
    color:#7d7d7d;
   
}
#work h2{
    font-size: 3.2rem;
    padding-top: 100px;
    color: #646464;
}
.project-one,.project-two {
padding: 5rem 7rem;
display: flex;
align-items: center;
justify-content: space-between;
}
.description{
    padding-top: 50px;  
   padding-left: 200px;
    text-align: center;
}
.project-screenshot{
    border: solid 2px rgba(255, 103, 68, 0.91);
}
.project-two .description{
    padding-left: 0;
    padding-right:200px ;
}

/* .....................................................SECTION ANOUT....................................................... */

#about{
    background-color: rgba(255, 103, 68, 0.91);
    color: white;
    text-align: center;
    padding: 100px;
    
    
}
#about h2{
    font-size: 2.3rem;
    padding-bottom: 30px;
}
#about p{
    font-size: 1.3rem;
    padding-bottom: 30px;
}
#about .button{
    border: 2px solid white;
    color: white;
}
#about .button:hover{
    background-color: white;
    color:rgba(255, 103, 68, 0.91)
    
}
#about .buttons{
    display: flex;
    justify-content: center;
}
.buttons .btn:nth-child(1) a{
    padding: 12px 53px;
}

/*.........................................................FOOTER........................................................... */
footer{
   text-align: center;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    font-size: 1.3rem;
    color:#7d7d7d;
    
}
.logo{
    padding: 10px;
    width: 30px;
    background-color: rgba(255, 103, 68, 0.91);
    border-radius: 50%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center ;
    margin-bottom: 30px;
}



/*......................................................MEDIA QUERIES....................................................... */
@media only screen and (max-width: 770px)
{
   #experience{
        padding: 6rem 0 0;
    }
    .skill{
        padding: 5rem 5rem;
    }

    .project-screenshot img{
        height: 150px;
        width:200px;
    }
    
    .description{
        padding-left: 0;
    }
    
    .project-two  .description{
        padding-right: 0;
    }
}



@media only screen and (max-width: 400px)
{
    .main-bottom{
        font-size: 1.2rem;
    }
    .main-bottom span::after
{

    content: "";
    position: absolute;
    left: 60px;
    right: 0;
    bottom: 0;
    top: 0;
    border-left: 2px solid red;
    background-color: white;
    animation: typewriter 4s steps(12) forwards infinite;

}





    .skill{
        padding: 5rem 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    #main{
        height: 500px;
        text-align: center;
    }
    #experience{
        margin-bottom:0 ;
    }
    .sec-heading{
        margin-right: 10px;
        
    }
    #about .buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .project-screenshot img{
        height: 150px;
        width:200px;
    }
    .project-one{
        display: flex;
        flex-direction: column;
    }
    .description{
        padding-left: 0;
    }
    .project-two {
        display: flex;
        flex-direction: column;
    }
    .project-two  .description{
        padding-right: 0;
    }
    .buttons .btn:nth-child(1) a{
        padding: 12px 40px;
    }
    footer{
        margin: 50px;
    }
}
